@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root{
    --primary-color: #4daf54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #4daf54, #3dBBB8);
}

.card{
    position: relative;
    margin: 12px auto;
    width:  320px;
    height: 400px;
    background-color: #272d48;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.card_heart, .card_cart{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.card_cart{
    left: unset;
    right: 20px;
}

.card_img{
    width: 90%;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* để ảnh không bị bóp méo */

}

.card_title, .card_price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card_title{
    color: var(--primary-color);
}

.card_size, .card_color{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.5s;
}

.card_size span{
    padding: 2px 5px;
    background-color: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.card_color span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}

.card_color_green{
    background-color: green;
}
.card_color_red{
    background-color: red;
}
.card_color_black{
    background-color: black;
}

.card_action button{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}

.card:hover .card_img{
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card_title{
    transform: translate(-40px, -80px)
}

.card:hover .card_price{
    transform: translate(-115px, -80px)
}

.card_size{
    margin-top: 150px;
}

.card_size, .card_color, .card_action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action{
    visibility: visible;
    opacity: 100;
}

.card:hover .card_size{
    margin-top: -30px;
}

.card_action button:hover{
    transform: scale(0.9);
}